@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}
:root {
    color-scheme: only light;
}
/*html {*/
/*    width: 100vw;*/
/*}*/
html {
    overflow-x: hidden;
}


/* Customize website's scrollbar like Mac OS
Not supports in Firefox and IE */

/* total width */
body::-webkit-scrollbar {
    background-color: transparent;
    width: 6px;
}

/* background of the scrollbar except button or resizer */
body::-webkit-scrollbar-track {
    background-color: transparent;
}

/* scrollbar itself */
body::-webkit-scrollbar-thumb {
    background-color: #5a5a5a;
    /*border: 4px solid #fff;*/
}

/* set button(top and bottom of the scrollbar) */
body::-webkit-scrollbar-button {
    display:none;
}